<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>404 Bruh</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/404.css">
</head>
<body>
<div class="overlay"></div>
<video poster="http://estaticos.elperiodico.com/resources/jpg/7/8/imagen-del-gif-confusedtravolta-1449773102987.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="http://i.imgur.com/H3BR7EA.webm" type="video/webm">
    <source src="http://i.imgur.com/H3BR7EA.mp4" type="video/mp4">
</video>
<div class="on-top">
    <h1>That shortened URL doesn't exist...</h1>
    <p>
        Please try again!
    </p>
    <a href="/" class="back">Back to Shortr</a>
</div>
</body>
</html>
