<!DOCTYPE html>
<html>
<head>
    <title>Shortr - URL Shortener</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>

<main>
    <div class="container animated bounceInUp">
        <form id="shorten-form" method="POST">
            <div class="icon-container">
                <input id="urlBox" type="text" required placeholder="Enter URL here" name="url">
                <i class="fa fa-link"></i>
            </div>
            <input type="submit" value="Submit">
        </form>

        <div class="row">
            <div class="column">
                <section id="shortened">
                    <p><em>Here's your shortened link! </em></p>
                    <p><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                    <p><a id="link" href="#" target="_blank">Loading...</a>
                        <button id="copy-button" data-clipboard-target="#link">copy</button>
                    </p>


                </section>
            </div>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<script src="../public/js/script.js"></script>
</body>
</html>
